USE [TestDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetDeps]    Script Date: 27.08.2025 17:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Lev
-- Create date: 27.08.2025
-- Description: Получение всех отделов
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[usp_GetDeps]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.id,
        d.name
    FROM deps d
    ORDER BY d.name;
END