USE [TestDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_FilterPeople]    Script Date: 27.08.2025 17:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Lev
-- Create date: 27.08.2025
-- Description:	Получение всех persons
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[usp_FilterPeople]
    @IdStatus INT = NULL,
    @IdDep INT = NULL,
    @IdPost INT = NULL,
    @LastNamePart NVARCHAR(50) = NULL
AS
BEGIN
    SELECT 
        CONCAT(per.last_name, ' ', LEFT(per.first_name,1), '.', LEFT(per.second_name,1), '.') AS FIO,
        per.date_employ,
        per.date_uneploy,
        sta.name AS [Status],
        dep.name AS Dep,
        pos.name AS Post
    FROM persons per
        JOIN [status] sta ON per.[status] = sta.id
        JOIN deps dep ON per.id_dep = dep.id
        JOIN posts pos ON per.id_post = pos.id
    WHERE (@IdStatus IS NULL OR sta.id = @IdStatus)
        AND (@IdDep IS NULL OR dep.id = @IdDep)
        AND (@IdPost IS NULL OR pos.id = @IdPost)
        AND (@LastNamePart IS NULL OR per.last_name LIKE '%' + @LastNamePart + '%');
END
