USE [TestDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStatuses]    Script Date: 27.08.2025 17:26:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Lev
-- Create date: 27.08.2025
-- Description: Получение всех статусов
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[usp_GetStatuses]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.id,
        s.name
    FROM [status] s
    ORDER BY s.name;
END
