USE [TestDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPosts]    Script Date: 27.08.2025 17:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Lev
-- Create date: 27.08.2025
-- Description: Получение всех должностей
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[usp_GetPosts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.id,
        p.name
    FROM posts p
    ORDER BY p.name;
END
