USE [TestDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPeople]    Script Date: 27.08.2025 17:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Lev
-- Create date: 27.08.2025
-- Description:	Получение всех persons
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[usp_GetPeople]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CONCAT(per.last_name, ' ', LEFT(per.first_name,1), '.', LEFT(per.second_name,1), '.') AS FIO,
        per.date_employ,
        per.date_uneploy,
        sta.name AS [status],
        dep.name AS dep,
        pos.name AS post
    FROM persons per
    LEFT JOIN [status] sta ON per.[status] = sta.id
    LEFT JOIN deps dep ON per.id_dep = dep.id
    LEFT JOIN posts pos ON per.id_post = pos.id
    
END
