USE [TestDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStatisticPeople]    Script Date: 27.08.2025 17:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Lev
-- Create date: 27.08.2025
-- Description:	Статистика persons
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[usp_GetStatisticPeople]
    @StatusId INT = NULL,
    @StartDate DATE,
    @EndDate DATE,
    @IsEmployed BIT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CAST(CASE WHEN @IsEmployed = 1 THEN per.date_employ ELSE per.date_uneploy END AS DATE) AS [Day],
        COUNT(*) AS [Count]
    FROM [dbo].[persons] as per
    WHERE 
        (@StatusId IS NULL OR per.status = @StatusId)
        AND CASE WHEN @IsEmployed = 1 THEN date_employ ELSE date_uneploy END BETWEEN @StartDate AND @EndDate
        AND CASE WHEN @IsEmployed = 1 THEN date_employ ELSE date_uneploy END IS NOT NULL
    GROUP BY CAST(CASE WHEN @IsEmployed = 1 THEN date_employ ELSE date_uneploy END AS DATE)
    ORDER BY [Day];
END
